<p id="notice"><%= notice %></p>

<p class="title"><%= @link.title %></p>
<p class="short_url"><%= link_to @link.display_short_url, @link.display_short_url, target: '_blank' %></p>
<ul class="click_time">
  <li><span class="badge"><span class="clicks"><%= @link.clicks %></span></span> clicks</li>
</ul>

<p class="long_url"><%= link_to @link.given_url, @link.given_url %></p>

<%= link_to 'Back', root_path %>